<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">./Tests</directory>
      <directory suffix=".php">./vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="core-bundle">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
